<h1>Locations#NEW</h1>

<%= form_for @location, url: {action: 'create'} do |f| %>
  <div>
    address: <%= f.text_field :address  %> </br>
    Latitude:<%= f.text_field :latitude %> </br>
    Longitude:<%= f.text_field :longitude %> </br>
    <%= f.submit "Load" %>
  </div>
<% end %>
