<h1>Locations#NEW</h1>

<%= form_for @location, url: {action: 'create'} do |f| %>
  <div>
    address: <%= f.text_field :address  %> </br>
    Name:<%= f.text_field :name %> </br>
    description:<%= f.text_field :description %> </br>
    <%= f.submit "Load" %>
  </div>
<% end %>
<div class="col-md-2 button-opt">
  <%= link_to "Cancel",    {:action=>"index", :controller=>"locations"},     class: 'btn btn-danger'%>
</div>
