<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<!--
  t.string :first_name
  t.string :last_name
  t.string :password
  t.string :email
  t.date :birthdate
  t.boolean :is_admin -->
  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
          <%=f.label :first_name %>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
          <%=f.text_field :first_name, class: 'form-control'  %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
          <%=f.label :last_name %>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
          <%=f.text_field :last_name, class: 'form-control'  %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
          <%=f.label :email %>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
          <%=f.email_field :email, class: 'form-control'  %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
          <%=f.label :password %>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
          <%=f.label :password_confirmation %>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
          <%=f.password_field :password_confirmation, autocomplete: "off"  %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
          <%=f.label :is_admin %>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
          <%=f.text_field :is_admin  %>
        </div>
    </div>
  </div>



  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
